<!DOCTYPE html>
<html layout:decorate="/template.html" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User update</title>
</head>
<body layout:fragment="body">
<h1>New user</h1>

<form th:object="${user}"  th:action="@{/user/edit}" method="post" enctype="multipart/form-data">
    <div>
        <input type="text" name="id" th:value="${user.id}">

    </div>
    <div>
        <input type="text" name="name" th:value="${user.name}">
        <p th:errors="*{name}"></p>
    </div>
    <div>
        <input type="text" name="username" th:value="${user.username}">
        <p th:errors="*{username}"></p>
    </div>
    <div>
        <input type="text" name="password" th:value="${user.password}">
        <p th:errors="*{password}"></p>
    </div>
    <div>
        <input type="file" name="file" accept="image/*">
    </div>
    <div>
        <button type="submit">update</button>
    </div>
</form>
</body>
</html>